AUTH_SECRET=000000000000000000000000000000

AUTH_URL=http://localhost:3000/api/auth
NEXTAUTH_URL=http://localhost:3000
AUTH_TRUST_HOST=true

# DB
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=setapassword
DB_NAME=thedas_auth-db
DATABASE_URL=mysql://root:PASSWORDSET@localhost:3306/thedas_auth-db

# Github OAuth
AUTH_GITHUB_ID=0000000000
AUTH_GITHUB_SECRET=000000000000
